*{
    padding: 0;
    margin: 0;
}
body{
   
    background-image: url(/asserts/images/dragao-dourado.jpg);
    background-repeat: no-repeat;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: end; 
    
    width: 100%;
   position: fixed;
   background-color: rgba(208, 226, 43, 0.445);
   z-index: 1;
}
header .top-menu{
    width: 70%;
}
header .iconsAndBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid black;
    list-style: none;
}
header .list-top{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 2rem;
}

.list-top i{
    font-size: 1.5rem;
    cursor: pointer;
}

/*afeito  para barra de pesquisa*/
.container-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    
     
}

.container-search input{
    background: none;
    padding: 1rem 0;
    outline: none;
    border: none;   
    
    width: 150px;
    transition: .4s;   
} 

.container-active input{
    width: 0px;
    transition: .4s;
    padding: 1rem 0;
}


/*afeito  para barra de pesquisa*/
.container-search i{
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.container-search i{
    font-size: 1.5rem;
    
    
}
header .list-top li{
    padding: 10px;
    
}
header  .list-bottom{
    display: flex;
   
    flex-direction: row;
    justify-content: end;
    list-style: none;
    margin: 10px;
    float: right;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: solid 2px black;
}
header .list-bottom li{
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: beige;
}

.left-menu-container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-right: solid 2px black;
    
    width: 25%;
    height: 100%;
    position: fixed;
   
    background-image: url(/asserts/images/dragao-dourado.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center left;
    transition: .4s;
    z-index: 1;
    
    
}
.left-menu-itens{
    display: flex;
    font-size: 2rem;
    background-color: aquamarine;
    position: relative;
    left: 10%;
    
}

/**/
.left-menu-container-active{
   /*para para javascript*/
  
  padding-left: 2rem;
 width: 0px;
}
.bi-box-arrow-in-right{
    display: none;
}
.left-menu-container-active .bi-box-arrow-left{
    display: none;
}
.left-menu-container-active .bi-box-arrow-in-right{
    display: block;
}
#arrow-left{
    background-color: rgb(248, 216, 33);
    padding: 1rem;
}
.left-menu-container:hover{
    width: 50%;
    transition: .4s;
    opacity: 1;
}
.left-menu{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    padding-left: 1rem;
    justify-content: center;
    background-color: rgba(0, 153, 255, 0.5);
    width: 100%;
   
    
}

.left-menu:hover{
    
    transition: .4s;
}
.left-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    list-style: none;
    background-color: rgba(16, 228, 228);
    width: 60%;
    z-index: 1;
}

.left-menu li{
    margin-bottom: 1rem;
    padding: 0.6rem;
   cursor: pointer;
    transition: .4s;
    

}
.left-menu li{
    color: rgb(0, 128, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid rgb(0, 128, 0);
   
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all .5s;
    overflow: hidden;
    color:black;
   
   
  }
  
  
  .left-menu li::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: rgb(0, 128, 0);;
    z-index: -1;
    transition: all 1s;
  }
  
  .left-menu li:hover::before {
    width: 160%;
  }
.left-menu li:hover{
    transform: scale(1.2);
    margin-left: 3rem;
    color: white;
   
}

.initial-letter{
    font-size: 2em;
    color: rgb(255, 217, 0);
}
main{
   
    margin-top: 13rem;
    
    float: right;
    width: 70%;
    
}
main .start div {
   
    margin: 10px;
    height: 100%;
    width: 60%;
    margin-left: 2rem;
    margin-right: 2rem;
    
}


.start{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
}
.start p {
color: white;
background-color: rgba(42, 42, 43, 0.452);

padding: 2rem;

}
.content1{
    
    width: 90%;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    background-color: rgba(61, 63, 65, 0.479);
    
}
.content1 p{
    margin: 1rem;
}
.quotes{
    
    height: 100%;
}
.quote{
    
    width:100% ;
}


.illustrations img{
    height: 100%;
    width: 100%;
    
}
h1{ font-size: 2rem;
    margin: 2rem 1rem;
    border-bottom: solid black 1px;
}
p{
    font-size: 1.3rem;
}
.content1 img{
    width: 100%;
    height: 60%;
}

.content2{
    background-color: rgba(61, 63, 65, 0.479);

   color: white;
    margin: 2rem;
}
.content2 .left-text{
display: flex;
background: none;
}

.content2 p{
    margin: 1rem;
}
.content3{
    margin: 2rem;
    background-color: rgba(61, 63, 65, 0.479);

    color: white;
}
.content3 p{
    margin: 1rem;
   
}

.content4{
    margin: 2rem;
    background-color: rgba(61, 63, 65, 0.479);

    color: white;
    
}

.content4 p{
    margin: 1rem;
}

.content4 div{
    display: flex;
    width: 100%;
    height: 100%;
}
.content4 img{
    width: 50%;
    height: 10%;
}