*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: end; 
    width: 100%;
   position: fixed;
   
}
header .top-menu{
    width: 70%;
}
header .iconsAndBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid black;
    list-style: none;
}
header .list-top{
    display: flex;
    list-style: none;
    height: 2rem;
}

.list-top i{
    font-size: 1.5rem;
    cursor: pointer;
}
.container-search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*afeito  para barra de pesquisa*/
.container-search{
    background-color: azure;
} 
.container-active { 
    background: green;
    padding-left: 20px;
    transition: .4s all ease;
    
}
/*afeito  para barra de pesquisa*/
.container-search i{
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.container-search i{
    font-size: 1.5rem;
    
    
}
header .list-top li{
    padding: 10px;
    
}
header  .list-bottom{
    display: flex;
   
    flex-direction: row;
    justify-content: end;
    list-style: none;
    margin: 10px;
    float: right;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: solid 2px black;
}
header .list-bottom li{
    padding: 20px;
    margin: 10px;
    background-color: beige;
}

.left-menu-container{
    display: flex;
   
    border-right: solid 2px black;
    
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 255, 34, 0.404);
    background-image: url(/asserts/images/dragao-dourado.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    transition: .4s;
    
    
    
}
.left-menu-container:hover{
    width: 50%;
    transition: .4s;
    opacity: 1;
}
.left-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 153, 255, 0.5);
    width: 100%;
   
    
}
.left-menu:hover{
    
    transition: .4s;
}
.left-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    list-style: none;
    background-color: rgba(16, 228, 228);
    width: 60%;
}

.left-menu li{
    margin-bottom: 1rem;
    padding: 0.6rem;
   
    transition: .4s;
    

}
.left-menu li{
    color: rgb(0, 128, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid rgb(0, 128, 0);
   
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all .5s;
    overflow: hidden;
    color:black;
   
  }
  
  
  .left-menu li::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: rgb(0, 128, 0);;
    z-index: -1;
    transition: all 1s;
  }
  
  .left-menu li:hover::before {
    width: 160%;
  }
.left-menu li:hover{
    transform: scale(1.2);
    margin-left: 3rem;
    color: white;
   
}
main{
    margin-top: 13rem;
    float: right;
    width: 70%;
}
main div{
    background-color: rgba(49, 102, 52, 0.418);
    margin: 10px;
    height: 90vh;
    width: 90%;
}